/* General styles */
body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #f0f0f0;
    overflow-x: hidden;
}

/* Top Styles */
#top{
    background: #555555;
    padding: 10px 0;
}
#top .offer{
    color: #ffffff;
}
#top .offer .btn{
    text-transform: uppercase;
}
@media(max-width: 991px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width: 991px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}
#top a{
    color: #ffffff;
}
#top ul,menu{
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none;
}
@media(max-width: 991px){
    #top ul.menu{
        text-align: center;
    }
}
#top ul.menu >li{
    display: inline-block;
}
#top ul.menu >li{
    color: #eeeeee;
}
#top ul.menu >li + li:before{
    content: "|\00a0";
    color: #f7f7f7;
    padding: 0 5px;
}
/* Header style */

.navbar{
    background: #ffffff;
}
.navbar-brand{
    float:left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height:70px;
}
.navbar-brand:hover,
.navbar-brand:focus{
    text-decoration: none;

}
.navbar ul.nav > li > a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

}
.navbar ul.nav > li > a:hover{
    background: #e7e7e7;
}
.padding-nav{
    padding-top: 10px;
}
.btn-primary{
    color: rgb(255,255,255);
    background: rgb(79, 191, 168);
    border-color: rgb(65, 179, 156);
}
